<!-- Modal -->
<div class="modal fade" id="editCollectionInfoForm" tabindex="-1" role="dialog" aria-labelledby="editCollectionTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="editCollectionTitle"></h4>
      </div>
      <div class="modal-body modal-body-editCollectionInfo">
        <!-- partial view rendered here-->
      </div>
        <!-- footer is rendered here/ added with JS and comes with form. -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog --> 
</div><!-- /.modal -->