<div class="general-info" data-collectionid= "<%= collection.id%>">
  <h4><strong><%= collection.name %></strong></h4>
  <p>Description: <%= collection.description %></p>
  </br>
  
  <h4><strong> Columns in Collection</strong></h4>
  <% collection.strat_columns.each do |x| %>
    <h5><%=x.name%></br></h5>
  <% end %>
</div> 