<div class="new-container">
  <div class="new-wrapper">
    <!--%= render "show_errors" %>-->
    
    <div class="new-header">
      <h3>Edit a Collection</h3>
    </div>
    
    <%= render "form" %>
  </div>
</div>