<div id="map"></div>

<% @textures_to_render.each do |i| %>
  <%= render i %>
<% end %>


<div class="flex-container-map">
  <div class= "flex-map-1 flex-map-child">
    <h2> Column 1</h2>
  </div>
  <div class= "flex-map-2 flex-map-child">
    <h2> Column 2</h2>
  </div>
  <div class= "flex-map-3 flex-map-child">
    <h2> Column 3</h2>
  </div>
</div>






<%= render "d3js_script"%>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5c68eeIBYe5SRVb-eZJpFWQELi1tXKzI&callback=initMap"async defer></script>
