<div class="test">
  <svg id="svg_4" height="0" width="0">
    <defs>
      <g id="svg_5">
       <path id="svg_2" d="m66.99238,148.45678c-1.61782,-0.96943 24.31731,-20.258 30.83744,-31.72881c7.02392,-12.35237 9.37814,-43.83896 10.82168,-44.80784c0.96888,-0.64812 3.71057,8.07041 4.67937,17.43869c0.86232,8.35136 -3.66213,21.94365 0.72665,26.64249c4.52437,4.84411 18.76597,6.49104 26.56493,12.11014c8.07025,5.81299 16.16957,20.41316 14.85198,20.02567c-2.17998,-0.64812 -17.71967,-12.77886 -23.97821,-15.66599c-9.44598,-4.35968 -21.62398,-4.27235 -26.64245,-3.3908c-9.68817,1.69444 -14.77445,6.53964 -22.52498,15.74343c-4.57283,5.44472 -12.23617,5.49306 -15.33641,3.63302z" stroke-miterlimit="4" stroke-width="3.87527" stroke="#000000" fill="none"/>
      </g>
    </defs>
   </svg>
</div>

<svg>
 <use x="50" y="10" href="#svg_5" />
</svg>
