<h1> Nothing here yet... </h1>



<svg width="0" height="0" position="absolute">

 <defs>
  <pattern id="intrusion" patternUnits="userSpaceOnUse" x="0" y="0" width="50" height="200" >
   <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
   <line x1="0" y1="5" x2="50" y2="5" style="stroke:rgb(0,0,0);stroke-width:10" />
   <line x1="0" y1="50" x2="50" y2="50" style="stroke:rgb(0,0,0);stroke-width:10" />
  </pattern> 
 </defs>
</svg>

<svg width="100%" height="100%">
 <g>
    <text x="30" y="50" >Using Pattern (Triangles): </text>
    <rect x="100" y="100" width="300" height="300" stroke="green" 
    stroke-width="3" fill="url(#intrusion)" />
 </g>   
</svg



<svg height="210" width="500">
  <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
</svg>


