<div class="home-container">
 <div class="home-welcome-wrapper">
  
  <div class="home-header">
   <h3> Welcome to stratMap</h3>
  </div>
  
  <div class="home-description">
   <p> The purpose of this application is to automatically generate 
   a stratigraphic column based on the information you provide.  Furthermore,
   if you provide it with coordinates the application will allow you to
   see the locations of each of those columns on a map and it will also
   allow you to see details of up to three columns of your choosing side by side.
   </p>
  </div>
  
  <div class="home-get-started">
   <h4> Get started! </h4>
  </div>
  
  <div class="home-description">
   <p> To get started, you must first sign up.  Once you're logged in, you'll
   be able to access the Create, Index and View Map options on the navigation bar.</p>
   <p> First, create a new stratigraphic column using the Create button.  Once
   you've succesfully created the column, a new page should show you
   the generated column along with all the information you've
   provided. </p>
   <p> You can now go to the Map View which should show you a marker where
   the stratigraphic column is located.  Click on the marker to open an
   information window where you'll be able to see a simplified version of the
   associated stratigraphic column.  You may open up to three windows side by
   side to view and interact with the columns.  If you wish to view information
   about another column, you must first close at least one of the three windows. </p>
   <p> Visit the Index page if you wish to see all the columns you've created. </p>
 </div>
  
  
 </div>
</div>