<div class="home-container">
 <div class="home-welcome-wrapper">
  
  <div class="home-header">
   <h3> Welcome to stratMap v0.2</h3>
  </div>
  
  <div class="home-description">

   <p> The purpose of this application is to automatically generate 
   a stratigraphic column based on the information you provide.  Furthermore,
   the application is capable of plotting the columns on a map and displaying the
   generated columns and corresponding data on an easily accessible window panel.
   </p>
   </br>
   <p>For information about version changes, visit the <a href="https://github.com/arac-codespace/strat-map">Github repository</a>.</p>
   </br>
   <div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/d8-UVMCnNUg?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>
  </div>
  
  <div class="home-get-started">
   <h4> Get started! </h4>
  </div>
  
  <div class="home-description">
   <p> To get started, you must first <strong><%= link_to('Sign Up', new_user_registration_path) %></strong> and/or <strong><%= link_to('Login', new_user_session_path) %></strong>.  Once you're logged in, you'll
   be able to access the Create, Index and View Map options on the navigation bar.</p>
   </br>
   <p> First, create a new stratigraphic column using the Create button.  Once
   you've succesfully created the column, a new page will show you
   the generated column along with all the information you've
   provided. </p>
   </br>
   <p> You can now go to the Map View which should show you a marker where
   the stratigraphic column is located.  Click on the marker to open an
   information window where you'll be able to see a simplified version of the
   associated stratigraphic column.  You may open up to four windows side by
   side to view and interact with any other columns you've created. </p>
   </br>
   <p> Visit the Index page if you wish to see all the columns you've created. </p>
 </div>
 <div class="home-resources">
  <h4> Resources</h4>
 </div>
 <div class="home-description">
  <p>The lithologic patterns used in this application were derived from FDGC's 
     digital cartographic standard and compiled/converted into SVG format by the 
     University of Otago's geology department.  The Geologic Time Interval database
     table used in this application is based off of JSON data distributed by 
     the Paleobiology Database's Data Service 1.2 v2.  The Puerto Rico Geologic Map 
     overlay used in the map API comes from the USGS's WMS Service.
     
  </p>
  </br>
  <p>For more information about this website, you can visit the <a href="https://github.com/arac-codespace/strat-map">Github repository</a>.</p>
  </br>
  <p>   
   <a href="http://pubs.usgs.gov/tm/2006/11A02/">FGDC Digital Cartographic Standard for Geologic Map Symbolization (PostScript Implementation)</a>
  </p> 
  <p>
   <a href="https://paleobiodb.org/data1.2/"> PBDB Data Service 1.2 v2</a>
  </p>
  <p>
   <a href="https://blogs.otago.ac.nz/si-geology/resources/illustrationgraphics-resources/usgs-inkscape-pack-instructions-and-download-link/">University of Otago; USGS Inkscape pack instructions and download link</a>
  </p>
  <p>
   <a href="https://mrdata.usgs.gov/services/pr?request=GetCapabilities&service=WMS&version=1.3.0"> USGS Geology of Puerto Rico WMS Service</a>
  </p>
 </div>
  
  
 </div>
</div>