<%= simple_form_for @strat_column, remote: true, :html => { :multipart => true } do |f| %>
  <div id="errors" class="bg-danger text-danger"></div>  
  
  <div class="infoFormFields">
    <%= render 'shared/forms/column_fields', f: f%>
  </div>  

  <div class="modal-footer">
    <div class = "form-group">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <%= f.submit "Submit", class: 'btn btn-primary' %>
    </div>
  </div>  

<% end %>