
<div class = "table-container"> 
  <div class= "table-header">
    <h3><strong>Column General Fossil Content</strong></h3>
  </div>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Frequency</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% layer.each do |x| %>
        <% x.fossils.each do |y| %>
          <tr>
            <td><%= y.name%></td>
            <td><%= y.frequency%></td>
            <td><%= y.notes%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
