<div class = "table-container"> 
  <div class= "table-header">
    <h3><strong>General Fossil Content</strong></h3>
  </div>


  <table class="table table-striped table-condensed" data-toggle="table">
    <thead>
      <tr>
        <th data-order='desc' data-field="stratum-name" data-sortable="true"> Stratum Name </th>
        <th data-order='desc' data-field="taxon-name" data-sortable="true">Taxon Name</th>
        <th data-order='desc' data-field="Abundance" data-sortable="true">Abundance</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <% layer.each do |x| %>
        <% x.fossils.each do |y| %>
          <tr>
            <td><%= x.name%></td>
            <td><%= y.name%></td>
            <td><%= y.abundance%></td>
            <td><%= y.notes%></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
