<!--Show validation errors at forms-->
<!--https://stackoverflow.com/questions/10531762/rendering-validation-errors-in-ruby-on-rails-->

<% if @strat_column.errors.any? %>
  <div id="error_explanation">
    <h4>Input Error(s):</h4>

    <ul>
    <% @strat_column.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>