<script>
$( document ).ready(function() {
  
  var cloneIndex = $(".layer_fields_0").length;
  var layerNum = $(".layer").length; 
  var removeBtn = "<span class = 'btn btn-xs btn-default remove_btn'><i class='glyphicon glyphicon-minus'></i> Remove section </span>";

  //to check for current number of fields. 
  //Critical for edit form.
  if (layerNum > 1) //We're on an edit form.
  {
    var lastChildren = $('.section_label').slice(-layerNum+1);
    
    
    lastChildren.each(function(){
    	$(this).append(removeBtn);
    });    
    
    cloneIndex = layerNum;
  }
  function clone(){
    // https://stackoverflow.com/questions/10308621/jquery-change-clone-inputs-to-empty
    // Here we actually modify the cloned object and not the current object!
      var source = $(".layer_fields_0");
      var cloned= source.clone();
      cloned.find('input,textarea,select').val(''); // Clears values

      cloned.val("")
          .appendTo("#layer_container")
          .attr("class", "layer_fields_" +  cloneIndex)
          .find("*") // returns all descendants
          .each(function() {

            var fieldName = $(this).find("label").text().toLowerCase();
            // Label for lithology lacks _id, so...
            if (fieldName == "lithology")
            {
              fieldName = "lithology_id";
            }
            
            var idOrLabel = "strat_column_layers_attributes_" + cloneIndex + "_" + fieldName;
            var name = "strat_column[layers_attributes][" + cloneIndex + "]" + "[" + fieldName + "]";
            
            // For label fields
            $(this).find("label").attr({for: idOrLabel, name: name });
            
            // For select fields
            $(this).find("select").attr({id: idOrLabel, name: name });
            
            // For input fields
            $(this).find("input").attr({id: idOrLabel, name: name });
            
            // For textarea
            $(this).find("textarea").attr({id: idOrLabel, name: name });
            
            
            var headerName = "section_label_" + cloneIndex;
            // if the object has a section_label class...
            if ($(this).attr("class") == "section_label section_label_0")
            {
              
              // For Section header
              $(this).text("New Layer Section ");
            
              // change the object's class to section_label_index
              $(this).attr("class", headerName);
              
              // Select that section_label_index and append html
              $(this).append(removeBtn);
            }
            
          })
      cloneIndex++;
  }
  
  $(".add_btn").on("click", clone);
  
  // NOTE: Event handlers are bound only to the currently selected elements; 
  // they must exist at the time your code makes the call to .on()
  // http://api.jquery.com/on/
  
  $("#layer_container").on("click", ".remove_btn", function() {
    $(this).parent().parent().parent().find(".checkbox > input.delete_member").val("true").appendTo("#layer_container");
    $(this).parent().parent().parent().remove();
  });
  
});  
</script>