<div class="edit-container">
  <div class="edit-wrapper">
    <%= render "show_errors" %>
    
    <div class="edit-header">
      <h3>Edit Stratigraphic Column</h3>
    </div>
    
    <%= render "form" %>
  </div>
</div>