<div class="new-container">
  <div class="new-wrapper">
    <%= render "show_errors" %>
    
    <div class="new-header">
      <h3>Create a new Stratigraphic Column</h3>
    </div>
    
    <%= render "form" %>
  </div>
</div>