/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery-ui/autocomplete
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

:root{
  --navBlack: #222222;
  --headBlue: #4aaecc;
  --siteBGBlue: #144c7d;
}

// for debugging...
// *{ border: 1px solid red; }

// required by maps btw

// GENERAL
html, body {
  // html height screws up the all map view...
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  background-color: var(--siteBGBlue);
  height: 100%;
}

.full-site-container {
  max-width: 2000px;
  padding: 5px;
  height: 100%;
  width: 100%;
  margin: auto;
}
// NAVBAR
.navbar-default {
  margin-bottom: 0;
  background-color: var(--navBlack);
  border: none;
  > .container {
    height: 75px;
  }
}

#main-nav-collapse {
  > ul.nav {
    margin: 14px;
  }  
}

.navbar-header {
  height: 100%;
}

.navbar-default .navbar-nav > li > a:hover {
  color: white;
}


// HTML Tooltip
span.tooltips {
  position: relative;
  display: inline;
}
span.tooltips span {
  position: absolute;
  width: 250px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  font-family: sans-serif;
}
span.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #000000;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
span:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  left: 100%;
  top: 50%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}

/*Texture Patterns*/
div.svg_render_container {
  position: absolute;
}