// Collection show

div.left-column-collection {
  height: 450px !important;
}

div.right-column-collection {
  height: 450px !important;
  overflow: auto;
  background-color: var(--headBlue);
}

#collection_map {
  margin: 0 auto;
  min-height: 355px;
}

.collection-info {
  height: 100%;
}

div.collections-flex-child {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  min-width: 250px;
  max-width: 250px;
  
  // border: 5px solid var(--navBlack);
  // max-width: 250px;
  // Note that this is the fix for the FF window width issue
  // FF seems to be unable to grow flex children so I needed to
  // put width explicitly.
  // width: fit-content;
}

.collections-flex-container-map {
  // Note, with display flex the parent container's width will grow proportional
  // to the svg's width!
  
  // height: 100%;
  // width: 60%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  // background-color: blue;
  // position: relative;
  // z-index: -9999; // value when hidden
  // justify-content: center;
  // width: fit-content;
}

.collection-visualization-wrapper {
  // background-color: white;
  width: fit-content;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
  display: flex;
}

.visualization-header-wrapper {
  max-width: 200px;
  background-color: var(--navBlack);
  padding: 20px;
  flex: 1;
  // margin: 0 10px;
  > h3 {
    color: white;
  }
}

div.collection-header {
  height: 100px;
  overflow-y: auto;
  a > h3 {
    color: white;
  }
}

div.collection-visualization-full-wrapper {
  margin: 5px 10px;
}

// Show Ajax form styling
.column_checkbox_label {
  font-weight: normal;
}

#sortable_columns {
  list-style-type: none;
}

.handle {
  cursor: move;
  font-size: 16px;
}

.sort-help {
  padding: 20px 0 !important;
  font-style: italic;
  color: white;
}