.stratChart text {
  font: 11.5px sans-serif;
  text-anchor: end;
}

.stratChart {
  padding: 30px 0px;
  // padding: 25px;  
  padding-left: 70px;
  stroke: black;
  background-color: white;  
}

.axis {
  stroke: black;
}

// Centers the x labels after calling the wrap function
.axis--x > g > text {
  text-anchor: inherit;  
}

.axis--x2 > g > text {
  text-anchor: inherit;  
}

.hoverBar:hover {
  fill: rgba(255, 255, 255, .30);
}

.text-overlay > text {
  font-size: 12px;
}