// Autocomplete
.ui-menu {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: block;
  width: 227px;
  z-index: 99999;
}

.ui-helper-hidden-accessible {
  display: none;
}

// FORM CSS
.formContainer, .infoFormFields {
  padding: 10px 20px;
}

.generalInfoForm {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  background-color: var(--headBlue);
  padding: 10px 20px;
  color: white;  
  > h3 {
    font-weight: bold;
  }
}

#layer-container > div {
  
  background-color: white;
  margin: 10px auto;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);  
}

.footer {
  background-color: white;
  margin-top: -25px;
  padding: 20px 40px 40px 40px;
}

.error-wrapper {
  padding: 10px 20px;
  color: white;
}

.remove_btn {
  margin-left: 20px;
}

#layer-container > div.panel.panel-default> div.header.panel-heading > h3 > a {
  color: var(--navBlack);
}

#layer-container > div.panel.panel-default > div.header.panel-heading {
  border-bottom: 1px solid var(--navBlack);  
  > h3 {
    display: inline-block;
  }
  > span > span {
    width: 200px;
  }
}

.textarea_options {
  height: 115px !important;
}