// SHOW PAGE CSS

.flex-container {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex: 2;
  background-color: white;
  margin: 10px 5px 10px 10px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
}

.right-column {
  flex: 1;
  background-color: white;
  margin: 10px 10px 10px 5px;
}

.general-info-wrapper {
  background-color: var(--headBlue);
  color: white;
  padding: 10px 20px; 
}

.general-info {
  border-top: 1px solid white;  
  padding: 10px 20px;
}

.left-column-title {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;
}

.info-btns {
  padding: 0 20px 10px 20px;
  margin-bottom: 10px;
}

.panel-default > .panel-heading {
  background-color: white !important; 
}

div.panel-heading {
  > .panel-title {
    display: inline-block;
  }
  > span > span {
    width: 200px;
  }
}

.help-prompt {
  padding: 20px 10px;

  > p > a {
    color: #ffffff;
    font-weight: bold;
  }
}

div.info-btns > button {
  margin: 5px auto;
}

.edit_show_btn {
  display: inline-block;
}

.column-header {
  padding-bottom: 5px;
  > a.btn {
    display: block;
  }
}

a.edit-full-column-btn {
  margin-bottom: 6px;
  margin-left: 12px;  
  display: inline-block;
}

.title-show {
  display: inline-block;
}


// INDEX CSS
.index-container {
  margin: 10px 20px;

}

.info-container {
  width: 60%;
  margin: 10px auto;
}

.index-title {
  background-color: var(--headBlue);
  padding: 10px 20px;  
  color: white;
  > a {
    color: white;
  }
  
}

.index-description {
  padding: 20px 40px;  
  background-color: white;

}

.info-wrapper {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  margin: 10px auto;
}

.index-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }
}

// NEW CSS
.new-container {
  margin: 10px 20px;
}

.new-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.new-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}

// EDIT CSS
.edit-container {
  margin: 10px 20px;
}

.edit-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.edit-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}
