// SHOW PAGE CSS

.flex-container {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex: 3;
  background-color: white;
  margin: 10px 5px 10px 10px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  overflow-x: auto;
  flex-basis: 15%;
}

.right-column {
  flex: 1;
  flex-basis: 10%;
  background-color: white;
  margin: 10px 10px 10px 5px;
}

.general-info-wrapper {
  background-color: var(--headBlue);
  color: white;
  padding: 10px 20px; 
}

.general-info {
  border-top: 1px solid white;  
  padding: 10px 20px;
}

.left-column-title {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;
}

.info-btns {
  padding: 0 20px 10px 20px;
  margin-bottom: 10px;
}

.panel-default > .panel-heading {
  background-color: white !important; 
}

div.panel-heading {
  > .panel-title {
    display: inline-block;
  }
  > span > span {
    width: 200px;
  }
}

.help-prompt {
  padding: 20px 10px;

  > p > a {
    color: #ffffff;
    font-weight: bold;
  }
}

div.info-btns > button {
  margin: 5px auto;
}

.edit_show_btn {
  display: inline-block;
}

.column-header {
  padding-bottom: 5px;
  > a.btn {
    display: block;
  }
}

a.edit-full-column-btn {
  margin-bottom: 6px;
  margin-left: 12px;  
  display: inline-block;
}

.title-show {
  display: inline-block;
}


// INDEX CSS
/*.index-container {
  margin: 10px 20px;

}*/

.info-container {
  width: 70%;
  margin: 10px auto;
}

.index-title {
  background-color: var(--headBlue);
  padding: 5px 20px;  
  color: white;
  > a {
    color: white;
  }
  
}

.index-description {
  padding: 20px 40px;  
  background-color: white;

}

.info-wrapper {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  margin: 10px auto;
}

.index-header {
  background-color: var(--navBlack);
  color: white;
  padding: 5px 20px;  
  >h3 {
    font-weight: bold;
  }
}

// NEW CSS
.new-container {
  margin: 10px 20px;
}

.new-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.new-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}

// EDIT CSS
.edit-container {
  margin: 10px 20px;
}

.edit-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.edit-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}

// Pagination styling
// http://mislav.github.io/will_paginate/
.pagination {
  display: block !important;
  margin: 10px 0 !important;
  background: white;
  // border: 1px solid #e5e5e5;
  border-radius: 0 !important;
  text-align: center;
  padding: 1em;
  cursor: default; }
  .pagination a, .pagination span {
    padding: 0.2em 0.3em; }
  .pagination .disabled {
    color: #aaaaaa; }
  .pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }
      
.dropdown {
  padding-top: 15px;
  padding-bottom: 15px;
  > a {
    color: white;
    padding: 0 10px;
  }
  > a:hover {
    color: lightgray;
  }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent !important;
}
ul.dropdown-menu {
  background-color: var(--navBlack);
  border-top: 1px solid black;
  border-radius: 0;
  margin-top: 0;  
  li > a {
    color: white;
  }
}

.logo-container {
  width: 110px;
}

.dropdownLabel {
  cursor: pointer;
}

/*Note!  Most monitors used are below 1920 width in resolution*/

@media (min-width: 2560px) {
  .body {
    margin: auto;
  }
  .flex-container {
    max-width: 2560px;
    justify-content: center;
  }
  .left-column {
    flex-grow: 2;
  }
  .right-column {
    flex-grow: 1;
  }
  
  // Strat Column
  div.strat-left-column {
    /*max-width: 35%;*/
  }
  
  div.strat-right-column {
    max-width: 25%;
  }
  // Collection
  div.left-column-collection {
    /*max-width: 50%;*/
    height: 450px *1.2;
  }
  
  div.right-column-collection {
    max-width: 25%;
    height: 450px *1.2;
  }  
  
  #collection_map {
    min-height: 445px;
  }  
}