// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// MAP CSS


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-container-map {
  height: 100%;
  width: 45%;
  display: flex;
  background-color: blue;
  position: absolute;
  top: 51px;
  left: 0;
}

.flex-map-child {
  flex-grow: 1;
  > h2 {
    position: absolute;
  }
}