// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// MAP CSS


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.flex-container-map {
  // Note, with display flex the parent container's width will grow proportional
  // to the svg's width!
  
  height: 100%;
  // width: 60%;
  display: flex;
  // background-color: blue;
  position: absolute;
  top: 50px;
  left: 0;
  // z-index: -9999; // value when hidden
}

.flex-child {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  display: none; // value when hidden
  border-right: 5px solid var(--navBlack);
  // width: 100%;
  max-width: 250px;
}

.chart-header-group {
  padding: 10px 20px;
  background-color: #4aaecc;
  color: white;
  
}

.title {
  margin-top: 10px;
  // font-weight: bold;
  > a {
    color: white;
  }
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
  margin-top: 10px;
  display: none;
  top: 0px !important;
  border: none;
  border-radius: 2px;
  height: 29px;
}

#pac-input:focus {
  border-color: #4d90fe;
}