// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// MAP CSS


/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.flex-container-map {
  // Note, with display flex the parent container's width will grow proportional
  // to the svg's width!
  
  height: 100%;
  // width: 60%;
  display: flex;
  // background-color: blue;
  position: absolute;
  top: 50px;
  left: 0;
  // z-index: -9999; // value when hidden
}

.flex-child {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  display: none; // value when hidden
  border-right: 5px solid var(--navBlack);
}

.chart-header-group {
  padding: 10px;
  background-color: white;
}

.title {
  margin-top: 10px;
}