
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 90%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  max-height: 450px;
}

.column-preview {
  background-color: var(--navBlack);
  position: relative;
  padding: 5px;
  > p {
    color: white;
    margin: 0;
    font-size: large; 
    font-weight: bold;
    display: inline-block;
    padding: 0 5px;
  }
}
.flex-container-map {
  // Note, with display flex the parent container's width will grow proportional
  // to the svg's width!
  
  /*height: 100%;*/
  // width: 60%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  // background-color: blue;
  position: relative;
  top: 0;
  left: 0;
  // z-index: -9999; // value when hidden
  overflow-x: auto;
  max-width: 100%;
}

.flex-child {
  flex-grow: 1;
  overflow: auto;
  background-color: white;
  /*display: none; // value when hidden*/
  /*border-right: 5px solid var(--navBlack);*/
  max-width: 300px;
  // Note that this is the fix for the FF window width issue
  // FF seems to be unable to grow flex children so I needed to
  // put width explicitly.
  min-width: 225px;
}

.chart-header-group {
  padding: 5px 5px;
  background-color: #4aaecc;
  color: white;
  height: 80px;
  min-height: 80px;
  overflow: auto;  
  > .title {
    font-weight: bold;
  }
}

.title {
  margin-top: 10px;
  // font-weight: bold;
  > a {
    color: white;
  }
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 180px;
  margin-top: 10px;
  display: none;
  top: 0px !important;
  border: none;
  border-radius: 2px;
  height: 29px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

// Custom control
#geo-map-btn :hover {
    background-color: #e6e6e6;
    border-radius: 2px;
}

.close-sidebar-btn {
  cursor: pointer;
  margin: 0px 2.5px 0 5px;
}