// Home css
.home-container {
  margin: 10px 20px; 
}

.home-welcome-wrapper {
  padding: 10px 20px;
  width: 60%;
  margin: auto;  
}

.home-header {
  background-color: var(--navBlack);
  padding: 10px 20px;
  color: white;
  > h3 {
    font-weight: bold;
  }  
}

.home-description {
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  text-align: justify;
}

.home-get-started{
  background-color: var(--headBlue);
  padding: 10px 20px;
  color: white;
  margin: 10px auto 0 auto;  
}