// Strat Column Show
.layer-info-wrapper, .left-column-title {
  padding: 20px;
}

.layer-info-sub {
  padding: 0 20px;
}

.layer-info {
  padding: 5px 10px 5px 20px;
  border-top: 1px solid #dedede;  
}

.d3js-container {
  overflow: auto;
}

.table-container {
	background-color: white;
	margin: 0 10px 20px 10px;
}

.table-header {
	padding: 5px 20px;
	color: white;
	background-color: var(--navBlack);
}