// Place all the styles related to the strat_columns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// SHOW PAGE CSS

.flex-container {
  display: flex;
  flex-direction: row;
}

.left-column {
  flex: 1;
  background-color: white;
  margin: 10px 5px 10px 10px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);

}

.right-column {
  flex: 1;
  background-color: white;
  margin: 10px 10px 10px 5px;
}

.layer-info-wrapper, .left-column-title {
  padding: 20px;
}

.layer-info-sub {
  padding: 0 20px;
}

.layer-info {
  padding: 5px 10px 5px 20px;
  border-top: 1px solid #dedede;  
}

.general-info-wrapper {
  background-color: var(--headBlue);
  color: white;
  padding: 10px 20px;  
}

.general-info {
  border-top: 1px solid white;  
  padding: 10px 20px;
}

.left-column-title {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;
}

.info-btns {
  padding: 0 20px 10px 20px;
}

.panel-default > .panel-heading {
  background-color: white !important; 
}

div.panel-heading {
  > .panel-title {
    display: inline-block;
  }
  > span > span {
    width: 150px;
  }
}


// INDEX CSS
.index-container {
  margin: 10px 20px;

}

.info-container {
  width: 60%;
  margin: 10px auto;
}

.index-title {
  background-color: var(--headBlue);
  padding: 10px 20px;  
  color: white;
  > a {
    color: white;
  }
  
}

.index-description {
  padding: 20px 40px;  
  background-color: white;

}

.info-wrapper {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  margin: 10px auto;
}

.index-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }
}

// NEW CSS
.new-container {
  margin: 10px 20px;
}

.new-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.new-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}

// EDIT CSS
.edit-container {
  margin: 10px 20px;
}

.edit-wrapper {
  width: 60%;
  margin: 10px auto;  
}

.edit-header {
  background-color: var(--navBlack);
  color: white;
  padding: 10px 20px;  
  >h3 {
    font-weight: bold;
  }  
}

// FORM CSS
.formContainer, .infoFormFields {
  padding: 10px 20px;
}

.generalInfoForm {
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);
  background-color: var(--headBlue);
  padding: 10px 20px;
  color: white;  
  > h3 {
    font-weight: bold;
  }
}

#layer-container > div {
  
  background-color: white;
  margin: 10px auto;
  padding: 10px 20px;
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.2);  
}

.footer {
  background-color: white;
  margin-top: -25px;
  padding: 20px 40px 40px 40px;
}

.error-wrapper {
  padding: 10px 20px;
  color: white;
}

.remove_btn {
  margin-left: 20px;
}

#layer-container > div.panel.panel-default> div.header.panel-heading > h3 > a {
  color: var(--navBlack);
}

#layer-container > div.panel.panel-default > div.header.panel-heading {
  border-bottom: 1px solid var(--navBlack);  
  > h3 {
    display: inline-block;
  }
  > span > span {
    width: 150px;
  }
}